
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(135deg, #048c78, #fc5c7d);
  }
  
  .forgot-password-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.1em;
    color: #777;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    font-size: 1.1em;
    color: #333;
    display: block;
  }
  
  .input-container {
    position: relative;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form-control:focus {
    border-color: #048c78;
  }
  
  .reset-button {
    width: 100%;
    padding: 12px;
    background-color: #7ed1c4;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .reset-button:hover {
    background-color: #fc5c7d;
  }
  
  .footer-text {
    margin-top: 20px;
    font-size: 0.9em;
  }
  
  .footer-text a {
    color: #048c78;
    text-decoration: none;
  }
  
  .footer-text a:hover {
    text-decoration: underline;
  }
  